<header class="gradient">
        <div class="logo"><a href="{{ site.baseurl}}/index.html"><img src="" height="100%"><h1 class="hidden">{{ site.title }}</h1></a></div>


        <table style="text-align: center; color: black;">
        	<tr>
        		<td><a href="https://podcasts.apple.com/us/podcast/electro-shoxx/id1630652234"><h3>Apple Podcast</h3></a></td>
        		<td><a href=""><h3>Google Podcast</h3></a></td>
        		<td><a href="https://www.deezer.com/fr/show/3815207"><h3>Deezer</h3></a></td>
                        <td><a href="https://music.amazon.fr/podcasts/a319c74c-66b2-45d3-ad65-40e0b4f724b8/electro-shoxx?refMarker=null&">Amazon Music</a></td>
        	</tr>
        </table>

</header>

